*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    width: 90px;
    height: 90px;
    border: 2px white solid;
    display: flex;
    color: white;
    font-size: 11px;
    justify-content: center;
    align-items: center;
}

.row{
    display: inline-flex;

}